*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: #111111;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;    
}
.main{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center ; */
    width: 80%;
    /* background-color: aquamarine; */
}
.title{
    font-family: "Tektur", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: rgb(219, 219, 219);
}
p{
    color: aliceblue;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;    
}

.text{
    user-select: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 18px;
    background-color: var(--grey);
    border-radius: 1px;
    box-shadow: 4px 4px 1px #b8bfff;
    transition: all 0.6s;
}
.text:hover{
    transform: translateY(-6px);
}


/* - - - - - - - - - - - - - - - - - - - - - - - colors - - - - - - - - - - - - - - - - - - - - - - -  */

:root{ --cyan: #00FFFF;}
:root{ --blue: #4f5aeb;}
:root{ --grey: #242424;}
:root{ --purple: #9B00FF;}
:root{ --violet: #b451e2;}
:root{ --pink: #FF6EC7;}
:root{ --green: #20e641; }
:root{ --turquoise: #00F9A8;}
:root{ --lime: #BFFF00;}
:root{ --yellow: #FFFF33 ;}
:root{ --orange: #FF5F00 ;}
:root{ --red: #FF073A;}

